<h1>All of Your Pledges</h1>

	<% @pledges.each do |pledge| %>
		<div id="pledges">
			<%= render "projects/#{project.id}/pledge/#{pledge.id}" %>
		</div>
	<% end %>

<%= link_to "All Active Projects", "/projects" %>